<template>
  <div>
    <div class="nav">
      <div>
        <img class="logo" :src="require('../assets/img/Union.svg')">
        <div class="switch">
          <div :class="getSwitchClass('home')" @click="this.switch = 'home'">
            <span>Дом</span>
          </div>
          <div :class="getSwitchClass('office')" @click="this.switch = 'office'">
            <span>Офис</span>
          </div>
        </div>
      </div>
      <div class="links">
        <span>После ремонта</span>
        <span>Генеральная уборка</span>
        <span>Регулярная уборка</span>
        <span>Мойка окон</span>
      </div>
      <div class="right">
        <div class="info">
          <span class="phone">+380 67 401 69 77</span>
          <span class="line"></span>
          <span class="time">24/7</span>
        </div>
        <div class="lines">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="nav-menu">
        <div class="links">
          <ol>
            <li><span>После ремонта</span></li>
            <li><span>Генеральная уборка</span></li>
            <li><span>Регулярная уборка</span></li>
            <li><span>Мойка окон</span></li>
          </ol>
        </div>
        <div class="info">
          <span class="phone">+380 67 401 69 77</span>
          <span>---</span>
          <span class="time">24/7</span>
        </div>
      </div>
    </div>

    <div class="fab">
      <div class="fab-outline"></div>
      <span>Заказать уборку</span>
    </div>
    <div class="fab-mobile">
      <div class="fab-mobile-outline"></div>
    </div>

    <div class="main">
      <img :src="require('../assets/img/Rectangle_47.png')">
      <div>
        <div class="hero-title">
          <span class="title">
            Уборка квартир в Киеве
          </span>
          <span class="description">
            Мы уберем у вас дома или в офисе. Наведем чистоту после ремонта и проведем генеральную уборку.
          </span>
        </div>
      </div>
    </div>
    <div class="features">
      <div>
        <div class="features-flip">
          <div class="features-flipper">
            <div class="animation features-front">
              <div>
                <span>Тщательно отобранный персонал</span>
                <img class="features-img" :src="require('../assets/img/feature_1.png')"/>
              </div>
            </div>
            <div class="features-back">
              <div>
                <span>
                  Не нужно тратить время, силы и ресурсы на размещение вакансий, проведение собеседований, проверку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="features-flip">
          <div class="features-flipper">
            <div class="animation features-front" style="transition-delay: .3s;">
              <div>
                <span>Качественная эко-химия</span>
                <img class="features-img" :src="require('../assets/img/feature_2.png')"/>
              </div>
            </div>
            <div class="features-back">
              <div>
                <span>
                  Не нужно тратить время, силы и ресурсы на размещение вакансий, проведение собеседований, проверку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="features-flip">
          <div class="features-flipper">
            <div class="animation features-front" style="transition-delay: .6s;">
              <div>
                <span>Контролируем качество</span>
                <img class="features-img" :src="require('../assets/img/feature_3.png')"/>
              </div>
            </div>
            <div class="features-back">
              <div>
                <span>
                  Не нужно тратить время, силы и ресурсы на размещение вакансий, проведение собеседований, проверку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="features-flip">
          <div class="features-flipper">
            <div class="animation features-front" style="transition-delay: .9s;">
              <div>
                <span>Работаем круглосуточно</span>
                <img class="features-img" :src="require('../assets/img/feature_4.png')"/>
              </div>
            </div>
            <div class="features-back">
              <div>
                <span>
                  Не нужно тратить время, силы и ресурсы на размещение вакансий, проведение собеседований, проверку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="placeholder">
      <div>
        <span class="title">Как мы убираем</span>
        <span class="description">Клинер приезжает в назначенное время со всем необходимым и сразу приступает к делу. Вам остаётся только оценить результат.</span>
      </div>
      <img :src="require('../assets/img/Placeholder.png')" />
    </div>
  </div>
  <div class="content">
    <div class="sidebar">
      <span class="header">Как мы убираем</span>
      <div class="tabs">
        <div>
          <span v-for="tab, i in tabs" :key="i" :class="tabID == i?'active':''" @click="this.tabID = i; onChangeTab()">
            <span v-if="tabID == i">→&nbsp;</span>{{tab.title}}
          </span>
        </div>
      </div>
    </div>
    <div class="functions">
      <img :class="getTabClass(0)" :src="tabs[0].src" />
      <img :class="getTabClass(1)" :src="tabs[1].src" />
      <img :class="getTabClass(2)" :src="tabs[2].src" />
      <img :class="getTabClass(3)" :src="tabs[3].src" />
      <div class="tags">
        <div class="tag" v-for="tag,i in getTags()" :key="i" v-bind:style="{top: tag.y+'%', left: tag.x+'%'}">
          <div class="functions-tag-hover"></div>
          <span class="functions-tag-desc">{{tag.desc}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',

  data: () => ({
    switch: 'home',
    tabID: 0,
    tabs: [
      {
        active: false,
        title: "Кухня",
        src: require("../assets/img/img_bg_1.png"),
        tags: [
          { x: 31, y: 32, desc: "Чистим фасад вытяжки" },
          { x: 25, y: 55, desc: "Чистим фасад вытяжки" },
          { x: 29, y: 86, desc: "Чистим фасад вытяжки" },
          { x: 44, y: 60, desc: "Чистим фасад вытяжки" },
          { x: 59, y: 48, desc: "Чистим фасад вытяжки" },
          { x: 52, y: 72, desc: "Чистим фасад вытяжки" },
          { x: 78, y: 63, desc: "Чистим фасад вытяжки" },
        ]
      },
      {
        active: false,
        title: "Комнаты",
        src: require("../assets/img/img_bg_2.png"),
        tags: [
          { x: 31, y: 32, desc: "Чистим фасад вытяжки" },
          { x: 29, y: 86, desc: "Чистим фасад вытяжки" },
          { x: 57, y: 85, desc: "Чистим фасад вытяжки" },
          { x: 64, y: 48, desc: "Чистим фасад вытяжки" },
          { x: 78, y: 75, desc: "Чистим фасад вытяжки" },
        ]
      },
      {
        active: false,
        title: "Ванная",
        src: require("../assets/img/img_bg_2.png"),
        tags: [
          { x: 31, y: 32, desc: "Чистим фасад вытяжки" },
          { x: 29, y: 86, desc: "Чистим фасад вытяжки" },
          { x: 57, y: 85, desc: "Чистим фасад вытяжки" },
          { x: 64, y: 48, desc: "Чистим фасад вытяжки" },
          { x: 78, y: 75, desc: "Чистим фасад вытяжки" },
        ]
      },
      {
        active: false,
        title: "Прихожая",
        src: require("../assets/img/img_bg_1.png"),
        tags: [
          { x: 31, y: 32, desc: "Чистим фасад вытяжки" },
          { x: 25, y: 55, desc: "Чистим фасад вытяжки" },
          { x: 29, y: 86, desc: "Чистим фасад вытяжки" },
          { x: 44, y: 60, desc: "Чистим фасад вытяжки" },
          { x: 59, y: 48, desc: "Чистим фасад вытяжки" },
          { x: 52, y: 72, desc: "Чистим фасад вытяжки" },
          { x: 78, y: 63, desc: "Чистим фасад вытяжки" },
        ]
      }
    ]
  }),

  mounted() {
    let options = { threshold: [0] };
    let observer = new IntersectionObserver(this.onEntry, options);
    let elements = document.querySelectorAll('.animation');
    for (let elm of elements) {
      observer.observe(elm);
    }

    window.addEventListener('scroll', ()=>this.toggleScrollClass());

    this.tabs[this.tabID].active = true;

    this.toggleScrollClass();
  },

  methods: {
    onEntry(entry) {
      entry.forEach(change => {
        if (change.isIntersecting) {
          change.target.classList.add('show');
          // change.target.addEventListener('animationstart', () => {
          //   change.target.classList.remove('show');
          // })
        }
      });
    },
    toggleScrollClass() {
      let nav = document.querySelectorAll('.nav')[0];
      window.pageYOffset > 30 ? nav.classList.add('fade') : nav.classList.remove('fade');
      let fab = document.querySelectorAll('.fab')[0];
      if (window.pageYOffset > (window.innerHeight + 73 + 320 + 150)){
        fab.classList.remove('fab-1');
        fab.classList.remove('fab-2');
        fab.classList.remove('fab-3');
        fab.style.visibility = "hidden";
        fab.style.opacity = "0";
        fab.style.transition = "0.3s";
      } else if (window.pageYOffset > (window.innerHeight)) {
        fab.classList.remove('fab-1');
        fab.classList.remove('fab-2');
        fab.classList.add('fab-3');
        // fab.style.visibility = "visible";
        // fab.style.opacity = "1";
        // fab.style.bottom = "-65px";
        // fab.style.width = "157px";
        // fab.style.height = "157px";
        // fab.style.transition = "0.3s";
        fab.children[1].style.transform = "rotate(30deg)";
        fab.children[1].style.transition = "0.3s";
      } else if (window.pageYOffset > 30) {
        fab.classList.remove('fab-1');
        fab.classList.remove('fab-3');
        fab.classList.add('fab-2');
        // fab.style.visibility = "visible";
        // fab.style.opacity = "1";
        // fab.style.bottom = "-65px";
        // fab.style.width = "177px";
        // fab.style.height = "177px";
        // fab.style.transition = "0.3s";
        fab.children[1].style.transform = "rotate(15deg)";
        fab.children[1].style.transition = "0.3s";
      } else {
        fab.classList.remove('fab-2');
        fab.classList.remove('fab-3');
        fab.classList.add('fab-1');
        // fab.style.visibility = "visible";
        // fab.style.opacity = "1";
        // fab.style.bottom = "20px";
        // fab.style.width = "197px";
        // fab.style.height = "197px";
        // fab.style.transition = "0.3s";
        fab.children[1].style.transform = "rotate(-15deg)";
        fab.children[1].style.transition = "0.3s";
      }
    },
    getSwitchClass(cls) {
      return `${cls} ${this.switch === cls ? 'active' : ''}`;
    },
    getTabClass(i) {
      return this.tabs[i].active == true ? "active" : "";
    },
    onChangeTab() {
      let tags = document.querySelectorAll('.tags')[0];
      tags.style.opacity = "0";
      // setTimeout(() => { tags.style.opacity = "0"; }, 1);
      let index = this.tabs.findIndex((e)=>e.active==true);
      this.tabs[index].active = false;
      this.tabs[this.tabID].active = true;
      setTimeout(() => { tags.style.opacity = "1"; }, 700);
      // tags.style.opacity = "1";
      // tags.style.transition = "1s";
    },
    getTags() {
      return this.tabs[this.tabID].tags;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .fade {
    background-color: white;
    margin-top: 0 !important;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 22px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  }
  .nav > div:not(:last-child) {
    display: flex;
  }
  .nav > div:first-child {
    margin-left: 54px;
  }
  .nav .logo {
    margin-right: 24px;
  }
  .nav .switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 48px;
  }
  .nav .switch .active {
    background: var(--main-color);
    border-radius: 34px;
    color: white;
  }
  .nav .switch:not(.active) {
    color: #636C81;
    background: white;
  }
  .nav .switch .home, .nav .switch .office {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
  }
  .nav .switch:not(.active):hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .nav .links {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
  }
  .nav .links span:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .nav .links span:not(:last-child) {
    padding-right: 32px;
  }
  .nav .right {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #404040;
    margin-right: 36px;
  }
  .nav .right .info{
    display: flex;
    margin-right: 38px;
  }
  .nav .right .info span:not(:last-child) {
    margin-right: 15px;
  }
  .nav .right .info .line{
    border: 1px solid #404040;
    background: #404040;
    height: 14px;
  }
  .nav .right .lines {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .nav .right .lines span{
    width: 14px;
    border: 1px solid #404040;
    background: #404040;
  }
  .nav-menu {
    position: absolute;
    right: 20px;
    top: 27px;
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
  }
  .nav-menu .info span {
    font-size: 12px;
  }
  .nav-menu .info span:not(:last-child) {
    margin-right: 7px;
  }
  .nav-menu ol {
    padding: 0 15px;
  }
  .nav-menu li {
    list-style-type: none;
  }

  .fab-mobile {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    background: #5A30F0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .fab-mobile::before {
    content: "+";
    position: absolute;
    white-space: pre;
    display: inline;
    top: calc(50% - 1px);
    left: 50%;
    font-size: 43px;
    transform: translate(-50%, -50%);
    color: white;
  }
  .fab-mobile-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50%;
  }
  .fab-mobile:hover .fab-mobile-outline {
    transition: transform 0.6s;
    transform: scale(1.5, 1.5);
  }

  .fab {
    position: fixed;
    bottom: 20px;
    left: 50vw;
    transform: translateX(-50%);
    width: 195px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5A30F0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 4;
  }
  .fab-1 {
    visibility: visible !important;
    opacity: 1 !important;
    bottom: 20px !important;
    width: 197px !important;
    height: 197px !important;
    transition: 0.3s !important;
  }
  .fab-2 {
    visibility: visible !important;
    opacity: 1 !important;
    bottom: -65px !important;
    width: 177px !important;
    height: 177px !important;
    transition: 0.3s !important;
  }
  .fab-3 {
    visibility: visible !important;
    opacity: 1 !important;
    bottom: -65px !important;
    width: 157px !important;
    height: 157px !important;
    transition: 0.3s !important;
  }
  .fab span {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-15deg);
    margin: 28px;
  }
  .fab-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50%;
  }
  .fab:hover {
    cursor: pointer;
    bottom: 20px !important;
    transition: 0.3s;
  }
  .fab:hover span {
    transform: rotate(-15deg) !important;
    transition: transform 0.3s;
  }
  .fab:hover .fab-outline {
    transition: transform 0.6s;
    transform: scale(1.5, 1.5);
  }

  .main {
    width: 100vw;
    display: flex;
    height: 100vh;
    max-height: 100vh;
  }
  .main img {
    width: 50vw;
  }
  .main .hero-title {
    margin: 0 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .hero-title .title {
    font-weight: 400;
    font-size: 76px;
    line-height: 110%;
  }
  .main .hero-title .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }


  .features {
    display: flex;
    margin: 73px 60px 0 60px;
    justify-content: space-between;
    height: 320px;
  }
  .features .animation {
    opacity: 0;
    transform: translateY(100%);
  }
  .features .animation.show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
  }
  .features > div:not(:last-child) {
    margin-right: 40px;
  }
  .features > div {
    display: flex;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
  }
  .features-flip:hover .features-flipper{
    transform: rotateY(180deg);
  }
  .features-flipper {
    transition: 0.6s;
    transform-style: preserve-3d; 
    position: relative;
  }
  .features-flip, .features-front, .features-back {
    min-width: 20vw;
  }
  .features-front, .features-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #F3F6FB;
    border-radius: 8px;
    color: #404040;
  }
  .features-front {
    z-index: 2;
  }
  .features-back {
    transform: rotateY(180deg);
    background: var(--main-color);
    color: white;
  }
  .features-front > div, .features-back > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 320px;
  }
  .features span {
    text-align: center;
    padding: 20px 5% 50px;
  }
  .features-front span{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
  .features-back span{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .features img {
    object-fit: cover;
    justify-self: flex-end;
    min-height: 150px;
  }


  .placeholder {
    display: flex;
    flex-direction: column;
    padding: 150px 13vw 0 13vw;
    height: 740px;
  } 
  .placeholder > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
  }
  .placeholder .title {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    color: #404040;
  }
  .placeholder .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    width: 414px;
  }
  .placeholder img {
    max-height: 60vh;
  }

  .content {
    padding: 142px 0 0 0;
    display: flex;
    width: 100vw;
    position: relative;
    overflow-x:hidden;
    z-index: 5;
  }
  
  .content .sidebar{
    background: var(--main-color);
    width: 25vw;
  }
  .content .sidebar .header {
    position: absolute;
    left: 53px;
    top: calc(35px + 142px);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .content .sidebar .tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .content .sidebar .tabs div{
    display: inline-block;
    min-width: 282px;
  }
  .content .sidebar .tabs span, .content .sidebar .tabs span.active {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    color: white;
    display: flex;
  }
  .content .sidebar .tabs span:not(:last-child), .content .sidebar .tabs span.active:not(:last-child) { 
    padding-bottom: 22px;
  }
  .content .sidebar .tabs span:hover, .content .sidebar .tabs span.active:hover {
    cursor: pointer;
    font-style: italic;
  }
  .content .sidebar .tabs span.active {
    font-style: italic;
  } 
  .content .functions {
    display: flex;
    position: relative;
  }
  .content .functions img{
    position: absolute;
    width: 75vw;
    height: calc(100vh - 60px);
    transition: transform 0s 1s;
    transform: translateX(200%);
    z-index: 1;
  }
  .content .functions img.active {
    position: relative;
    transition: transform 0.5s 0.1s;
    transform: translateY(0%);
    z-index: 2;
  }
  /*.content .functions .tags {
    opacity: 0;
  }*/
  .content .functions .tag {
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--main-color);
    color: white;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .functions .tag::before {
    content: "+";
    position: absolute;
    white-space: pre;
    display: inline;
    top: calc(50% - 1px);
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
  }
  .content .functions .tag:hover .functions-tag-hover{
    transform: scale(2.5, 2.5);
    cursor: pointer;
  }
  .content .functions .tag:active .functions-tag-desc {
    display: block;
  }
  .content .functions .tag:active::before {
    content: "x";
  }
  .content .functions .tag > div {
    border: 10px solid rgba(90, 48, 240, 0.1);
    border-radius: 50%;
    position: absolute;
  }
  .content .functions .tag .functions-tag-desc {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: -30px;
    background: white;
    color: ;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    color: #636C81;
    padding: 5px;
    border-radius: 5px;
  }

  @media (max-width: 1280px) {
    .nav .switch {
      font-size: 12px;
    }
    .nav > .links {
      font-size: 14px;
    }
    .nav .right {
      font-size: 14px;
    }
    .nav .right .info .line {
      height: 12px;
    }
  }
  @media (max-width: 1200px) {
    .nav > .links {
      display: none !important;
    }
    .nav .right:hover {
      cursor: pointer;
    }
    .nav .right:hover~.nav-menu{
      display: flex;
    }
    .nav-menu:hover {
      display: flex;
    }
    .main {
      height: auto;
      max-height: 100vh;
    }
    .features {
      margin: 73px 0 0 0;
    }
    .features-flip {
      width: 15vw;
    }
    .features-front span {
      font-size: 100%;
      padding: 20px 5% 10px;
    }
    .features-back span {
      font-size: 60%;
    }
    .features-img {
      width: 100%;
    }
    .placeholder {
      height: auto;
    }
    .content .functions img {
      height: auto;
    }
    .content .sidebar .tabs div{
      min-width: auto;
    }
    .content .sidebar .header {
      display: none;
    }
    .content .sidebar .tabs span, .content .sidebar .tabs span.active {
      font-size: 4vw;
    }
    .fab-1 {
      width: 16vw !important;
      height: 16vw !important;
    }
    .fab-2, .fab-3 {
      width: 15vw !important;
      height: 15vw !important;
    }
    .fab span{
      font-size: 100%;
    }
    .fab-3 {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    .nav .switch {
      transform: scale(0.9);
    }
    .main {
      height: auto;
      max-height: 100vh;
    }
    .main .hero-title .title {
      font-size: 6vw;
    }
    .main .hero-title .description {
      font-size: 2vw;
    }
    .main .hero-title {
      margin: 0 7vw;
    }
    .features > div:not(:last-child) {
      margin-right: 0px;
    }
  }
  @media (max-width: 720px) { 
    .nav {
      margin-top: 0;
    }
    .nav .switch {
      transform: scale(0.75);
    }
    .features {
      height: 240px;
      margin: 4vw 0 0 0;
    }
    .features-front > div, .features-back > div {
      height: 240px;
    }
    .placeholder {
      padding: 5vw 5vw 0 5vw;
    }
    .placeholder .title {
      font-size: 6vw;
      padding-right: 5vw;
    }
    .placeholder .description{
      font-size: 2vw;
    }
    .placeholder > div {
      padding-bottom: 3vw;
    }
    .content {
      padding: 6vw 0 0 0;
    }
    .content .functions .tag {
      width: 4vw;
      height: 4vw;
    }
    .fab {
      display: none;
    }
    .fab-mobile {
      display: block;
    }
  }

  @media (max-width: 600px) { 
    .nav .right {
      height: 20px;
    }
    .nav .right .info {
      display: none;
    }
    .nav > div:first-child {
      margin-left: 20px;
    }
    .nav .switch {
      transform: scale(0.6);
    }
    .main .hero-title .description {
      font-size: 11px;
    }
    .features-front span {
      font-size: 70%;
    }
  }
  @media (max-width: 480px) { 
    .content .functions .tag .functions-tag-desc {
      font-size: 4vw;
    }
  }
</style>
