<template>
  <HelloWorld/>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>

<style>
:root {
  --main-color: #5A30F0;
}

body {
  margin: 0;
  overflow-x:hidden;
}
@font-face {
  font-family: "TT Travels"; 
  src: url("assets/fonts/TTTravels-Regular.ttf") format("truetype"); 
  font-style: normal;  
} 

#app {
  font-family: "TT Travels", Avenir, Helvetica, Arial, sans-serif;
}
</style>
